
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

p {
    font-family: 'Pacifico', cursive;
    font-size: 7rem;
    text-align: center;
    color: #ff69b4; /* Rosa claro */
}


.textMenu {
    font-size: clamp(1rem, 2.5vw, 1.8rem); /* Ajusta o tamanho do texto automaticamente */
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    text-align: center;
    color: #ff69b4; /* Rosa claro */
  }
  

  
  /* Ajustes para ecrãs pequenos */
  @media (max-width: 768px) {
    .textMenu {
      font-size: 1.5rem;
    }
  
    header p {
      font-size: 2.5rem;
    }
  }



body {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-size: cover;
    background-attachment: fixed; /* Mantém o fundo fixo */
}

.btn-purple {
    background-color: #8a2be2; /* Cor roxa */
    border-color: #8a2be2;
    color: white;
  }

  /* Estilizar o contêiner principal para centrar tudo */
/* Contêiner principal que centraliza tudo */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

/* Contêiner das labels e inputs */
.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Definir um tamanho fixo para as labels e alinhar o texto à direita */
.input-container label {
    width: 150px; /* Ajusta para que todas tenham o mesmo tamanho */
    text-align: right; /* Faz com que o texto termine na mesma linha */
}





